
#card{
  border-radius: 10px;
  background-color: #544a7d;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#card input{
  border-radius: 7px;
  border: none;
  padding: 10px;
  margin-top: 20px;
  color: black;
}